@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10%;
    padding: 0;
    /* background-image: url('../../assets/background-image-0.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}