@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 10%;
}