.action {
    margin-top: 70px;
}
.action h1 {
    font-size: 25px;
    font-weight: 700;
}

.action p {
    font-size: 20px;
    font-weight: 400;
}



.assessment a {
    text-decoration: none;
}

.action .assessment .btn i{
    padding: 10px;
}

.btn img {
    width: 30px;
    transform: rotate(-45deg);
}