.assessment-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.assessment-sections h4 {
    font-size: 20px;
    font-weight: 600;
}

.assessment-sections p {
    font-size: 20px;
    font-weight: 300;
}

.assessment-sections a {
    text-decoration: none;
}

button {
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid #0CC229;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0CC229;
    color: #fff;
    transform: scale(1.05);
}




/* Basic styling for select element */

form {
    margin-top: 50px;
}
select {
    margin-left: 10px;
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border: 2px solid #0CC229;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

/* Styling the select element when focused */
select:focus {
    border-color: #0AAB20;
    outline: none;
    transform: scale(1.05);
}

/* Placeholder style */
select option[value=""][disabled] {
    color: #888;
}

/* Custom arrow for select element */
select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.09 6.75"><path d="M0,0,2,3.37,0,6.75H.41L2.43,3.37,0,.41Z" fill="%23000000"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px 12px;
}

/* Hover effect on select */
select:hover {
    border-color: #0AAB20;
    transform: scale(1.02);
}

/* Style for the options */
select option {
    padding: 12px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
}

/* Interactive effect for options */
select option:hover {
    background-color: #f0f0f0;
}





/* Styling for input element */
input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border: 2px solid #0CC229;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    transition: all 0.3s ease;
    margin-top: 20px;
}

/* Styling the input element when focused */
input[type="text"]:focus {
    border-color: #0AAB20;
    outline: none;
    transform: scale(1.05);
}

/* Hover effect on input */
input[type="text"]:hover {
    border-color: #0AAB20;
    transform: scale(1.02);
}

/* Assessment Intro Styling */
.section1 {
    margin-top: 20px;
}

.section1 p {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
}

.section2 {
    margin-top: 50px;
    margin-left: 130px;
}

.section2 p {
    font-weight: 300;
}